{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Campus Helper{% endblock %}</title>
    {% tailwind_css %}
</head>
<body class="bg-gray-100 min-h-screen">
    {% block navmenu %}{% endblock  %}
    
    <main class="container mx-auto py-8 px-4">
        {% block content %}{% endblock %}
    </main>
    
    {% block footer %}{% endblock  %}
</body>
</html>
